.ui-widget-content {
  background: #f9f9f9 !important;
}

.ui-widget-header .ui-icon {
  background-image: url(../images/ui-icons_ffffff_256x240.png);
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  text-align: center;
  color: #000;
  border: none;
  background: none;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
  background-color: #1eaee3;
  border: none;
  color: #f4f4f4;
  text-align: center;
}

.ui-widget-header {
  background-color: #1eaee3;
  border: none;
}

.ui-widget-header select {
  color: #000;
}

.ui-datepicker-prev {
  width: 5px !important;
  height: 12px !important;
  cursor: pointer;
  background-image: url(../images/calendar-slider-left.png) !important;
}

.ui-datepicker-next {
  width: 5px !important;
  height: 12px !important;
  cursor: pointer;
  background-image: url(../images/calendar-slider-right.png) !important;
}

.ui-datepicker .ui-datepicker-prev {
  left: 15px;
}

.ui-datepicker .ui-datepicker-next {
  right: 15px;
}

.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
  margin-top: 11px;
}

.ui-datepicker-next-hover {
  background: none !important;
  width: 5px !important;
  height: 12px !important;
  cursor: pointer;
  border: none !important;
  margin-top: 8px;
  background-image: url(../images/calendar-slider-right.png) !important;
}

.ui-datepicker-prev-hover {
  background: none !important;
  width: 5px !important;
  height: 12px !important;
  cursor: pointer;
  border: none !important;
  margin-top: 8px;
  background-image: url(../images/calendar-slider-left.png) !important;
}

.page-data table {
  font-size: 13px;
  color: #404040;
  font-weight: 300;
}
