.ui-icon-circle-triangle-w {
  background-position: -80px -192px;
}

.ui-widget-header .ui-icon {
  background-image: url(https://raw.githubusercontent.com/jquery/jquery-ui/master/themes/base/images/ui-icons_444444_256x240.png);
}

.ui-datepicker .ui-datepicker-prev-hover {
  left: 2px;
}

.ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover {
  top: 2px; 
}

.ui-datepicker .ui-datepicker-next-hover {
  right: 2px;
}