.box-popup {
  width: 500px;
  padding: 30px 50px;
  overflow: hidden;
  background-color: #fff;
  .title {
    position: relative;
    @extend .ib-100;
    margin: 0 0 30px 0;
    color: #000;
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
  }
  .txt {
    @extend .ib-100;
    color: #000;
    font-size: 14px;
    background-color: #fff;
    p {
      position: relative;
    }
    a {
      color: #0dd888;
      &.rg {
        color: #f77373;
        text-decoration: underline;
        &:hover {
          text-decoration: none;
        }
      }
    }
    .show {
      position: absolute;
      top: 13px;
      right: 20px;
      input {
        vertical-align: middle;
        margin: 0;
      }
    }
    .input-group-text {
      color: #fff;
      background-color: #ff6e6e;  
      border-color: #ff6e6e;
      &.b-green {
        background-color: #07ad88;
        border-color: #07ad88;
      }
    }
    .img {
      @extend .ib-100;
      height: 210px;
      margin: 0 0 30px 0;
      background-size: cover;
      background-position: center;
      @include border-r(6px);
    }
    .term {
      @extend .ib-100;
      margin: 0 0 25px 0;
      padding: 15px;
      color: #373737;
      font-size: 12px;
      font-weight: 700;
      text-align: center;
      background-color: #eef3ff;
      @include border-r(6px);
      span {
        color: #f9643e;
      }
    }
    .box-price {
      margin: 0 0 20px 0;
      padding: 0 0 5px 0;
      color: #8ca3d9;
      font-size: 13px;
      font-weight: 500;
      border-bottom: 1px solid #f7f9ff;
      h6 {
        color: #373737;
        font-size: 16px;
      }
      .price {
        margin: -25px 0 0 0;
        color: #f9643e;
        font-size: 35px;
        font-weight: 500;
      }
    }
    .budget {
      .val {
        position: relative;
        height: 59px;
        margin: 0 0 15px 0;
        padding: 0 15px 0 50px;
        color: #373737;
        font-size: 15px;
        line-height: 59px;
        font-weight: 500;
        border: 1px solid #99addb;
        @include border-r(28px);
        &:before {
          position: absolute;
          left: 25px;
          color: #415da0;
          font-family: Font Awesome\ 5 Free;
          -webkit-font-smoothing: antialiased;
          font-style: normal;
          font-variant: normal;
          text-rendering: auto;
          font-weight: 900;
          content: "\f155";
        }
      }
      .btn {
        padding: 19px 12px;
        color: #fff;
        font-size: 13px;
        font-weight: 600;
        background-color: #f9643e;
        @include border-r(28px);
      }
    }
    .txt-footer {
      text-align: center;
      color: #415da0;
      font-size: 10px;
      line-height: 20px;
      font-weight: 500;
      p {
        &:last-child {
          margin: 0;
        }
      }
    }
  }
  label {
    color: #383838;
    font-size: 13px;
    font-weight: 700;
  }
  .form-control {
    height: 58px;
    color: #8e8e8e;
    font-size: 10px;
    font-weight: 400;
    border: 1px solid #ececec;
    background-color: #fff;
    @include border-r(6px);
  }
  input[type="checkbox"] {
    vertical-align: top;
  }
  .btn {
    @extend .ib-100;
    padding: 10px 12px;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    background-color: #d1d1d1;
    text-transform: uppercase;
    @include border-r(6px);
    &:hover {
      opacity: 0.7;
    }
  }
  .btn-green {
    background-color: #07ad88;
  }
  .btn-gray {
    color: #7b7b7b;
    background-color: #e8e8e8;
  }
  .form-bottom {
    padding: 30px 0 0 0;
    border-top: 1px solid #f1f1f1;
  }
  .cl-green {
    color: #07ad88;
  }
  .fa-exchange-alt {
    color: #d1d1d1;
    margin: 22px 0 0 0;
  }
  .form-group {
    position: relative;
  }
  .on-check {
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -6px;
    z-index: 9;
    &.addition {
      margin-top: 7px;
    }
  }
  .box {
    padding: 15px;
    font-weight: 700;
    text-align: center;
    background-color: #f8f8f8;
    @include border-r(6px);
    &.addition {
      margin-bottom: 15px;
      color: #a0a0a0;
      strong {
        color: #383838;
        font-weight: 700;
      }
    }
    .cl-green {
      font-weight: 500;
    }
    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .custom-select.is-invalid, .form-control.is-invalid, .was-validated .custom-select:invalid, .was-validated .form-control:invalid {
    border-color: #ffbbbb !important;
  }
  .custom-select.is-valid, .form-control.is-valid, .was-validated .custom-select:valid, .was-validated .form-control:valid {
    border-color: #07ad88 !important;
  }
}
.fancybox-close {
  background-image: url(../images/close.png) !important;
}

.fancybox-close {
  width: 40px;
  height: 40px;
  top: -20px;
  right: -20px;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (max-width: 399px){
  .box-popup {
    width: 280px;
  } 
}