@media screen and (max-width: 1199px) {
  .service-description {
    &:before {
      display: none;
    }
  }
}
@media screen and (max-width: 991px) {
  .pd-150 {
    padding: 50px 0;
  }
  .pd-65 {
    padding: 20px 0;  
  }
  .pd-90 {
    padding: 30px 0;
  }
  .logo {
    background-position: center;
  }
  .header {
    nav {
      display: none;
    }
    .mobil-menu {
      display: inline-block;
      padding: 0 30px;
    }
  }
  footer .menu [class^=col-]:last-child, footer .menu [class^=col-]:nth-child(3) {
    margin-top: 0;
  }
  .my-profile {
    h6 {
      &:after {
        display: none;
      }
    }
  }
  .fancybox {
    .my-profile {
      h6 {
        &.text-warning {
          &:after {
            display: none;
          }
        }
      }
    }
  }
  .partners  {
    .box-white {
      padding: 30px 0;
    }
  }
  .service-description {
    &.addition {
      span {
        width: 100%;
        margin: 0;
        left: 0;
        font-size: 30px;
        line-height: normal;
        text-align: center;
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .banner {
    .txt {
      h5 {
        font-size: 30px;
        line-height: normal;
      }
    }
  }
}
@media screen and (max-width: 550px) {
  .w-500 {
    width: auto;  
  }
}
@media screen and (max-width: 450px) {
  .header {
    .menu {
      li {
        display: block;
        margin: 0 0 10px;
      }
    }
  }
}