.respons-menu {
  position: relative;
  display: none;
  @extend .ib-100;
  z-index: 999;
  color: #fff;
  text-align: center;
  .title {
    font-size: 1.563em;
    text-align: center;
    padding: 0;
    span{
      cursor: pointer;
    }
  }
  li {
    width: 100%;
    padding: 0;
    margin: 0;
    font-size: .9em;
    color: #fff;
    list-style: none;
    a {
      @extend .ib-100;
      margin: 0;
      padding: 5px 0;
      color: #fff;
      font-size: .9em;
      list-style: none;
      &:hover{
        color: #e5e5e5
      }
    }
  }
  .sub-header-menu{
    position: inherit;
    float: left;
    @extend .ib-100;
  }
}
.addition-menu-respons {
  display: none;
  position: absolute;
  width: 100%;
  background-color: #2853bd;
}
.addition-menu-respons ul {
  margin: 0!important
}
.addition-menu-respons ul ul {
  background-color: #484848
}