.tabs,.tabs-3 {
  @extend .ib-100;
  .tabs__caption,.tabs__caption-3 {
    @extend .ib-100;
    margin-bottom: 50px;
    vertical-align: top;
    list-style: none;
    background-color: transparent;
    @include border-r(16px);
    li {
      position: relative;
      display: inline-block;
      padding: 0 15px 0 10px;
      color: #000;
      font-size: 12px;
      font-weight: 700;
      cursor: pointer;
      text-transform: uppercase;
      list-style-image: none !important;
      position: relative;
      &:after {
        content: "";
        position: absolute;
        width: 1px;
        height: 100%;
        right: 0;
        background-color: #e8e8e8;
      }
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
        &:after {
          display: none;
        }
      }
      &:hover {
        color: #5c6ffb;
      }
    }
    .active {
      color: #5c6ffb;
    }
  }
  .tabs__content,.tabs__content-3 {
    display: none;
    &.active {
      @extend .ib-100;
    }
  }
  .vertical {
    width: 440px;
    border-left: 160px solid #FFF;
    .tabs__caption {
      float: left;
      display: inline;
      width: 160px;
      margin: 0 0 0 -160px;
      li {
        padding: 0 13px;
        margin: 0 0 1px;
        width: 132px;
        height: 25px;
        &:hover {
          width: 131px;
          color: #fff;
          background-color: #2faaf3;
        }
      }
      .active {
        width: 133px;
        color: #444;
        background: #EFEFEF;
      }
    }
    .tabs__content,.tabs__content-3 {
      border-width: 1px;
    }
  }
}
